{% extends 'base.html' %}

{% block home %}
    /
{%endblock%}

{% block upload %}
    upload
{%endblock%}

{% block logout %}
    logout
{%endblock%}

{% block login %}
    login
{%endblock%}

{% block content %}
<h1>About Me</h1>
<p>This is a simple photo gallery application built with Flask.</p>
<div class="spinner">
    <img src="static/images/pedro.png" alt="Pedro">
    <audio autoplay loop=true id="pedro-audio" >
        <source src="static/audios/pedro-pe.mp3">
    </audio>
    <script>
        var audio = document.getElementById("pedro-audio");
        audio.volume = 0.5;
    </script>
</div>
{% endblock %}
