<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Photo Gallery</title>
</head>
<body>
    <nav>
        <a href="{% block home %} {%endblock%}">Home</a>
        {% if session.get('logged_in') %}
            <a href="{% block upload %} {%endblock%}">Upload</a>
            <a href="{% block logout %} {%endblock%}">Logout</a>
        {% else %}
            <a href="{% block login %} {%endblock%}">Login</a>
        {% endif %}
        <a href="{% block about %} {%endblock%}">About Me</a>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
