{% extends 'base.html' %}

{% block home %}
    /
{%endblock%}

{% block upload %}
    upload
{%endblock%}

{% block logout %}
    logout
{%endblock%}

{% block login %}
    login
{%endblock%}

{% block about %}
    about
{%endblock%}

{% block content %}
<h1>Photo Gallery</h1>
{% for category, photos in images.items() %}
    <h2>{{ category }}</h2>
    <div class="gallery">
        {% for photo in photos %}
            <a href="{{ url_for('static', filename='uploads/' ~ category ~ '/' ~ photo) }}">
                <img src="{{ url_for('static', filename='uploads/' ~ category ~ '/' ~ photo.rsplit('.', 1)[0] ~ '.' ~ photo.rsplit('.', 1)[1]) }}" class = "img-thumbnail img-fluid" alt="{{ photo }}">
            </a>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}
