{% extends 'base.html' %}

{% block home %}
    /
{%endblock%}

{% block upload %}
    upload
{%endblock%}

{% block logout %}
    logout
{%endblock%}

{% block login %}
    login
{%endblock%}

{% block about %}
    about
{%endblock%}

{% block content %}
{% for category, photos in images.items() %}
    <h2>{{ category }}</h2>
    <div class="gallery">
        {% for photo in photos %}
            {% if not photo.endswith('.thumb.jpg') and not photo.endswith('.thumb.jpeg') and not photo.endswith('.thumb.png') %}
            <a href="{{ url_for('static', filename='uploads/' ~ category ~ '/' ~ photo) }}">
                <img src="{{ url_for('static', filename='uploads/' ~ category ~ '/' ~ photo.rsplit('.')[0] ~ '.thumb.' ~ photo.rsplit('.')[-1]) }}" class="img-thumbnail img-fluid">
            </a>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}
