{% extends 'base.html' %}

{% block home %}
    /
{%endblock%}

{% block logout %}
    logout
{%endblock%}

{% block about %}
    about
{%endblock%}

{% block content %}
<h1>Upload Photo</h1>
<form method="post" enctype="multipart/form-data">
    <div id="container-up">
        <label for="image">Select image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <label for="name">Photo name:</label>
        <input type="text" id="photo-name" name="photo-name">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category">
        <button class="btn btn-dark" type="submit">Upload</button>
    </div>
</form>
{% endblock %}
